body {
    margin: 0px;
}

#contain_carrefour {
    z-index: 2;
    -webkit-filter: opacity(.5);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#title {
    width: 100%;
    height: 150px;
    margin-bottom: 40px;
    background-color: rgb(71, 61, 211);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#title img {
    width: 90%;
    margin: 10px;
}

#contain_img img {
    width: 350px;
    margin: 20px;
}

#card {
    z-index: 5;
    width: 370px;
    height: 140px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#bot {
    display: flex;
    justify-content: center;
}

#bot img {
    width: 70%;
    border-radius: 20px;
    background-color: white;
    border: 3px solid rgb(59, 58, 58);
}

#cross {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    color: rgb(63, 62, 62);
    font-size: 25px;
}

#contain_sign {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img_sign {
    width: 200px;
    height: 100px;
    margin: 20px 50px;
    background-image: url('../img/sign_in_title.png');
    background-size: cover;
}

#number_sign {
    width: 300px;
    height: 100px;
    margin: 20px 50px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name_sign {
    text-align: center;
    font-family: 'cwTeXYen', sans-serif;
    font-weight: 600;
    margin: 2.5px 0px;
    color: rgb(2, 2, 2);
    font-size: 15.5px;
    letter-spacing: 2px;
}

.num_sign {
    width: 150px;
}

#accept_sign {
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#accept_sign a {
    text-decoration: none;
    font-family: 'cwTeXYen', sans-serif;
    font-weight: 600;
    margin: 2.5px 0px;
    color: rgb(2, 2, 2);
    font-size: 15.5px;
    letter-spacing: 2px;
    border: 1.5px solid rgb(2, 2, 2);
    padding: 5px;
}

#accept_sign a:hover {
    text-decoration: none;
    font-family: 'cwTeXYen', sans-serif;
    font-weight: 600;
    margin: 2.5px 0px;
    color: white;
    font-size: 15.5px;
    letter-spacing: 2px;
    background-color: rgb(80, 79, 79);
    padding: 5px;
}

#sign_box {
    z-index: 10;
    width: 300px;
    height: 350px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    margin-bottom: auto;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 1px solid #CCC;
    background-color: #F9F9F9;
    border: 1px solid #333;
    padding: 5px;
}

#sign_cont {
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: none;
}