@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
body {
    margin: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#title {
    display: flex;
    flex-wrap: wrap;
}

#other {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#sq {
    display: flex;
    height: 570px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    width: 150px;
    height: 200px;
    margin: 50px;
    border: 2px solid rgb(68, 68, 68);
}

#fore {
    width: 150px;
    height: 200px;
    margin: 50px;
    border-radius: 10px;
}

.choose {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    margin: 5px 10%;
    height: 40%;
    border-radius: 10px;
    background-color: rgb(235, 147, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'cwTeXYen', sans-serif;
}

.choose:hover {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 90%;
    margin: 5px 10%;
    height: 40%;
    display: flex;
    box-shadow: 3px 3px rgb(226, 105, 24);
    background-color: white;
    justify-content: center;
    align-items: center;
    color: rgb(226, 105, 24);
    font-family: 'cwTeXYen', sans-serif;
}

a {
    text-decoration: none;
}

.cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    justify-content: space-around;
}

.name {
    width: 80%;
    margin: 2.5% 10%;
    margin-top: 5%;
    height: 15%;
    text-align: center;
    font-family: 'cwTeXYen', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 25px;
}

.img {
    width: 80%;
    margin: 0px 10%;
    height: 60%;
    background-color: white;
}

#one_img {
    width: 100%;
    height: 100%;
    border: 2px solid rgb(105, 104, 104);
    border-radius: 10px;
}

#two_img {
    width: 100%;
    height: 100%;
    border: 2px solid rgb(105, 104, 104);
    border-radius: 10px;
}

#three_img {
    width: 100%;
    border: 2px solid rgb(105, 104, 104);
    border-radius: 10px;
}

.process {
    width: 80%;
    margin: 2.5% 10%;
    height: 20%;
    text-align: center;
    line-height: 35px;
    font-family: 'cwTeXYen', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 20px;
}

.lock {
    width: 80%;
    margin: 10%;
    height: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contain_lock {
    width: 300px;
    height: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: none;
}

#social {
    width: 300px;
    height: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
}

#cross {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    color: rgb(63, 62, 62);
    font-size: 25px;
}

.title {
    width: 270px;
    height: 30px;
    margin: 0px 10px;
    border-bottom: 1px solid rgb(54, 54, 54);
    font-family: 'cwTeXYen', sans-serif;
    line-height: 30px;
    text-align: left;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(54, 54, 54);
}

.contain {
    width: 280px;
    height: 100px;
    margin: 5px auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
}

.contain img {
    width: 60px;
    height: 60px;
    margin: 0px 10px;
    border-radius: 60px;
}

.text {
    width: 110px;
    display: flex;
    margin: 10px 10px;
    flex-direction: column;
    align-items: flex-start;
}

.text_title {
    text-align: left;
    font-family: 'cwTeXYen', sans-serif;
    font-weight: 600;
    margin: 2.5px 0px;
    color: rgb(97, 97, 97);
    font-size: 15.5px;
}

.text_contain {
    font-size: 10px;
    text-align: left;
    font-family: 'cwTeXYen', sans-serif;
    font-weight: 600;
    margin: 6px 0px;
    color: rgb(124, 124, 124);
}

#name {
    width: 200px;
    height: 50px;
    margin: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px;
    border: 2px solid rgb(70, 68, 68);
    font-size: 25px;
    line-height: 40px;
    font-family: 'cwTeXYen', sans-serif;
    font-weight: 600;
    color: rgb(66, 66, 65);
    border-radius: 5px;
    padding: 5px;
}

#img1 {
    width: 200px;
    height: 200px;
    margin: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px;
    padding: 5px;
}

#img1 img {
    width: 80%;
}

#power {
    width: 200px;
    height: 50px;
    margin: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px;
    border: 2px solid rgb(70, 68, 68);
    font-size: 25px;
    line-height: 40px;
    font-family: 'cwTeXYen', sans-serif;
    font-weight: 600;
    color: rgb(66, 66, 65);
    border-radius: 5px;
    padding: 5px;
}

#cd {
    width: 200px;
    height: 50px;
    margin: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px;
    border: 2px solid rgb(70, 68, 68);
    font-size: 25px;
    line-height: 40px;
    font-family: 'cwTeXYen', sans-serif;
    font-weight: 600;
    color: rgb(66, 66, 65);
    border-radius: 5px;
    padding: 5px;
}

#situation {
    width: 200px;
    height: 50px;
    margin: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#situation div {
    font-size: 25px;
    line-height: 40px;
    font-family: 'cwTeXYen', sans-serif;
    font-weight: 600;
    color: rgb(66, 66, 65);
    border-radius: 5px;
    padding: 5px;
}

@media screen and (max-width: 1520px) {
    #sq {
        width: 65%;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    #a2 img {
        margin: 5px;
        width: 200px;
    }
    #sq {
        background-image: url('../img/bg_new.png');
        background-size: cover;
        width: 100%;
        margin: auto;
        height: 600px;
        align-items: flex-start;
        justify-content: space-around;
    }
    .box {
        width: 120px;
        height: 160px;
        margin: 10px 30px;
    }
    #fore {
        width: 120px;
        height: 160px;
        margin: 10px 30px;
    }
    .name {
        font-size: 18px;
    }
}

#count {
    z-index: 3;
    width: 300px;
    height: 480px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 1px solid #CCC;
    background-color: white;
    border: 1px solid #333;
    padding: 5px;
}

#count_box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title_shot {
    width: 270px;
    height: 30px;
    margin: 0px 10px;
    border-bottom: 1px solid rgb(54, 54, 54);
    font-family: 'cwTeXYen', sans-serif;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(54, 54, 54);
}

#count_box img {
    width: 100%;
}

#test {
    margin: 10px 0px;
}

#test a {
    margin: 100px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'cwTeXYen', sans-serif;
    font-weight: 600;
    color: rgb(247, 151, 26);
    background-color: white;
    border-radius: 5px;
}

#test a:hover {
    margin: 100px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'cwTeXYen', sans-serif;
    font-weight: 600;
    color: white;
    background-color: rgb(247, 151, 26);
    border-radius: 5px;
    padding: 5px;
}

#popupcontent {
    z-index: 3;
    width: 300px;
    height: 480px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 1px solid #CCC;
    background-color: #F9F9F9;
    border: 1px solid #333;
    padding: 5px;
}

#lock_box {
    z-index: 3;
    width: 300px;
    height: 480px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: white;
    border: 1px solid #CCC;
    border: 1px solid #333;
    padding: 5px;
}

#popupcontent1 {
    z-index: 3;
    width: 300px;
    height: 480px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 1px solid #CCC;
    background-color: #F9F9F9;
    border: 1px solid #333;
    padding: 5px;
}
